{% extends 'main.html' %}
{% load static %}
<html>
     <head>
          <title>G angelee Formulator</title>
     </head>
 <body>
     
     {% block content %}    
     <br><br><br>
{% load mathfilters %}
<Center>
     <table class="table">
          <tr class="table">
<th class="table">Formulation Code:</th>


<th class="table">Batch Weight:</th>
<tr class="table">
<td class="table">{{formulation.Total_Formation_Weight}}</td>
<td class="table">{{formulation.Code}}</td>
</tr>
</tr>
<tr class="table">
<th class="table">Raw material Name</th>
<th class="table">  Raw material Code</th>
<th class="table">Weight of material </th>
</tr>
{% for i in formulation.Raw_Materials.all %}
<tr class="table">
<td class="table">{{i.Name}} </td>
<br>
   <td class="table">{{i.Code}} </td> 
    <td class="table">{{formulation.actual_weight}}</td> 
{% endfor %}
</tr>
</table>
<br><br><br>
<!-- Use code below to iterate through list items and check if they exist, if they exist put their code and weight
{% for i in formulation.Raw_Materials.all %}
     {% if i %}
     <h1>hello</h1>
     {% else %}
     <h2>goodbye</h2>
     {% endif %}
     {% endfor %} -->

<h1>Instructions</h1>
{% for i in Instructions %}
<p>{{i.instructions}}</p>

<h2>Special notes</h2>
<p>{{i.special_notes}}</p>

{% endfor %}
</Center>
{% endblock content %}
</body>   
</html>