<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: pink;">
    
</body>
</html>
<center>
<h1 style="color: purple;">{{product.Name}}</h1>


<h2 style="color: purple;">Type of product: {{product.Type}}</h2>

<h3 style="color: purple;">List of formulations</h3>
{% for i in formulation %} 
<table>
<li style="color: purple;"> Formulation code: <a href="{% url 'formulationpage' i.id %}">{{i.Code}}</a></li>
</table>
{% endfor %}
</center>